<header class="main-header">
  <div class="header-left">
    <a href="/">
      <h1 class="logo">J&P</h1>
    </a>
  </div>

  <nav class="main-nav">
    <ul>
      <li><a href="/">Home</a></li>
      <li class="dropdown">
        <a href="#">Páginas</a>
        <ul class="submenu">
          <li><a href="/history">Nossa História</a></li>
          <li><a href="/dicas">Dicas</a></li>
          <li><a href="/mensagem">Menssagem</a></li>
          <li><a href="/local">Local</a></li>
        </ul>
      </li>
      <li><a href="/rsvp">Confirmar Presença</a></li>
      <li><a href="/presentes">Presentes</a></li>
    </ul>
  </nav>

  <div class="header-right">
    <a href="/login" class="login-button">Login</a>
  </div>
</header>