<div id="presenteModal" class="modal-overlay">
    <div class="modal-content">
        <span class="close-button">&times;</span>
        <div id="modal-pagamento">
            <h3 id="modal-titulo">Comprar Presente</h3>
            <p id="modal-nome"></p>
            <div id="modal-valor"></div>
            <div class="modal-body">
                <h4>Informações para o Pagamento:</h4>
                <p id="modal-pix"></p>
                <p><strong>Observação:</strong> Ao realizar a transferência, por favor, envie o comprovante para o número de WhatsApp dos noivos para que possamos marcar o presente como comprado. </p>
                <a id="modal-marketplace" href="#" target="_blank" class="marketplace-button" style="display: none;">Comprar pelo Marketplace</a>
            </div>
        </div>
        <div id="modal-confirmacao" style="display: none;">
            <h3 class="confirmacao-titulo">Confirmar Reserva</h3>
            <p>Deseja realmente reservar este presente?</p>
            <div class="confirmacao-botoes">
                <button id="confirmar-sim" class="confirmacao-botao sim">Sim</button>
                <button id="confirmar-nao" class="confirmacao-botao nao">Não</button>
            </div>
        </div>
    </div>
</div>