<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard dos Noivos</title>
    <link rel="icon" href="../assets/img/coracao-rosa-solido.webp" type="image/png">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&family=Great+Vibes&display=swap" rel="stylesheet">
</head>
<body class="dashboard-page">

    <div class="dashboard-container">
        <%- include('../../public/components/dashboard_menu.html') %>

        <main class="dashboard-content">
            <h2>Bem-vindo(a) ao seu Painel de Controle!</h2>
            <p>Use o menu lateral para gerenciar o conteúdo do seu site.</p>
        </main>
    </div>

</body>
</html>