<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Julia e Paulo Henrique</title>
    <link rel="icon" href="../assets/img/coracao-rosa-solido.webp" type="image/png">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&family=Great+Vibes&display=swap" rel="stylesheet">
</head>
<body>

    <%- include('../../public/components/header.html') %>

    <main class="page-content">
        <section class="section-historia">
            <h2>Nossa História</h2>
            <div class="historia-container">
                <div class="historia-imagem">
                    <img src="assets/img/J_P.png" alt="Foto do casal para a história">
                </div>
                <div class="historia-texto">
                    <p>
                        Aqui você poderá contar a história de como os noivos se conheceram, 
                        o primeiro encontro, o pedido de casamento e outros momentos especiais.
                        Esse texto será carregado pelo nosso backend a partir do banco de dados.
                    </p>
                </div>
            </div>
        </section>
    </main>

    <footer>
        </footer>

</body>
</html>