<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Julia e Paulo Henrique</title>
    <link rel="icon" href="../assets/img/coracao-rosa-solido.webp" type="image/png">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&family=Great+Vibes&display=swap" rel="stylesheet">
</head>
<body>

    <%- include('../../public/components/header.html') %>

    <header class="home-hero">
        <div class="overlay"></div>
        <div class="hero-content">
            <h1 class="names">Júlia<br> & <br>Paulo Henrique</h1>
            <p class="date">XX de Mês de Ano</p>
        </div>
    </header>

    <main>
        </main>

    <footer>
        </footer>

</body>
</html>